@model UserWebApp.Models.Student
@using UserWebApp.Models;
@{
    Layout = "_Layout";
}
<style>
    .form-group.required .control-label:after {
        content: "*";
        color: red;
    }
</style>
<h5>Student Form</h5>
<form asp-action="CreateStudent" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-6">
            <div class="panel-heading">
                Create a New Student Record
            </div>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="StudentId" />
            @if (@ViewBag.StudentMessage != null)
            {
                <div class="alert alert-info alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>@ViewBag.StudentMessage</strong>
                </div>
            }
            <div class="form-group required">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group required">
                        <label asp-for="FirstName" class="control-label"></label>
                        <input asp-for="FirstName" class="form-control" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group required">
                        <label asp-for="LastName" class="control-label"></label>
                        <input asp-for="LastName" class="form-control" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group required">
                        <label asp-for="EnrollmentDate" class="control-label"></label>
                        <input asp-for="EnrollmentDate" asp-format="{0:dd/MM/yyyy}" class="form-control">
                        <span asp-validation-for="EnrollmentDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group required">
                        <label asp-for="DateOfBirth" class="control-label"></label>
                        <input asp-for="DateOfBirth" asp-format="{0:dd/MM/yyyy}" class="form-control">
                        <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group required">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group required">
                        <label asp-for="MobilePhoneNo" class="control-label"></label>
                        <input asp-for="MobilePhoneNo" class="form-control" />
                        <span asp-validation-for="MobilePhoneNo" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                    <div class="form-group required">
                        @Html.LabelFor(model => model.Gender, new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.Gender, (IEnumerable<SelectListItem>)ViewBag.GenderList, "Select Gender", new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Gender, null, new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <center>
                            @Html.LabelFor(model => model.IsGraduating, new { @class = "control-label" })
                        </center>
                        @Html.CheckBoxFor(model => model.IsGraduating, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.IsGraduating, null, new { @class = "text-danger" })
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="City" class="control-label"></label>
                        <input asp-for="City" class="form-control" />
                        <span asp-validation-for="City" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Address" class="control-label"></label>
                        <input asp-for="Address" class="form-control" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="UploadedImage" class="control-label"></label>
                <input asp-for="UploadedImage" type="file" class="form-control" />
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <label>Location</label>
                <div id="map" class="col-md-12" style="height:606px; width:100%"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-row">
                <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-outline-success btn-block"><i class="fas fa-database"></i>&nbsp;Create Record</button>
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="Index" class="btn btn-outline-info btn-block"><i class="fa fa-table"></i> Student Records </a>
                </div>
            </div>
        </div>
    </div>
</form>

<script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9thXarvNAj0azH0DybEg2N7BfSF0GyW8&callback=initMap"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var map = null;
        var userMarker = null;
        var lat = 0;
        var lng = 0;

        function initMap() {
            map = new google.maps.Map(document.getElementById('map'), {
                center: {
                    lat: 31.95679490140756,
                    lng: 35.85974687073398
                },
                zoom: 10
            });

            google.maps.event.addListener(map, 'click', function (e) {
                placeMarker(e.latLng);
            });
        }

        function placeMarker(location) {
            if (userMarker) {
                //userMarker.setMap(null);
                //userMarker = null;
                //placeMarker(location);
                userMarker.setPosition(location);
            } else {
                userMarker = new google.maps.Marker({
                    position: location,
                    map: map,
                    icon: 'https://img.icons8.com/fluent/marker-storm.png',
                    title: 'Your Marker',
                    animation: google.maps.Animation.DROP
                });
            }
            lat = userMarker.getPosition().lat();
            lng = userMarker.getPosition().lng();
            $('#Latitude').val(lat);
            $('#Longitude').val(lng);
        }
    </script>
}