@model List<UserWebApp.Models.User>
@if (Model != null && Model.Count > 0)
{
    foreach (var user in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(model => user.UserName)
    </td>
    <td>
        @Html.DisplayFor(model => user.FirstName)
    </td>
    <td>
        @Html.DisplayFor(model => user.LastName)
    </td>
    <td>
        @Html.DisplayFor(model => user.Gender)
    </td>
    <td>
        @Html.DisplayFor(model => user.Age)
    </td>
    <td>
        @Html.DisplayFor(model => user.Email)
    </td>
    <td>
        @Html.DisplayFor(model => user.MobilePhoneNo)
    </td>
    <td>
        @Html.DisplayFor(model => user.IsActive)
    </td>
    <td>
        @Html.DisplayFor(model => user.TimeZoneId)
    </td>
    <td>
        @Html.DisplayFor(model => user.Culture)
    </td>
    <td>
        @Html.DisplayFor(model => user.DisplayRegistrationDate)
    </td>
    <td>
        <a asp-action="EditUser" asp-route-id="@user.UserId" class="text-info ml-1"><i class="fa fa-marker fa-lg"></i></a>
        <a class="text-danger ml-1" data-toggle="modal" data-target="#confirmDelete-@user.UserId"><i class="fa fa-trash-alt fa-lg"></i></a>
        <div class="modal hide fade in" data-keyboard="false" data-backdrop="static" id="confirmDelete-@user.UserId" tabindex="-1" role="dialog" aria-labelledby="confirmDeleteLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="confirmDeleteLabel">Confirm User Data Deletion</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to permanantly delete @user.UserName's record?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                        <a asp-action="DeleteUser" asp-route-id="@user.UserId" class="btn btn-outline-danger">Confirm</a>
                    </div>
                </div>
            </div>
        </div>
    </td>
</tr>
    }
} else { 
    <tr>
        <td style="color: red" colspan="9"><b>No Record(s) Found!</b></td>
    </tr>
}

